DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://postgres:postgres@localhost:5432/physician_consult

REDIS_URL=redis://localhost:6379/0

FRONTEND_BASE_URL=http://localhost:3000
BACKEND_BASE_URL=http://localhost:8000

USE_CLOUDINARY=False
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MYFATOORAH_API_KEY=
MYFATOORAH_BASE_URL=
MYFATOORAH_PAYMENT_METHOD_ID=
MYFATOORAH_CALLBACK_URL=http://localhost:8000/api/payments/myfatoorah/callback/
MYFATOORAH_HOSTED_REDIRECTION_URL=http://localhost:8000/api/payments/myfatoorah/callback/
MYFATOORAH_ERROR_URL=http://localhost:8000/api/payments/myfatoorah/error/
MYFATOORAH_WEBHOOK_SECRET=
DEFAULT_CURRENCY=USD

EMAIL_HOST= ""
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
